body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #111212;
  color: #FFFFFF;
  user-select: none;
}

button {
  border-radius: 25px;
  border: 2px solid #FFFFFF;
  background-color: #111212;
  color: #FFFFFF;
  padding: 12px 24px;
  transition-duration: 0.4s;
  font-size: 20px;
}

button:hover {
  cursor: pointer;
  background-color: #FFFFFF;
  color: #000000;
}